body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
  overflow-y: scroll;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	width:100%;
}

#logo
{
	float:left;
}


#quick-links
{
  float:right;
}

#quick-links ul
{
  border-right: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.titulo-mensajes{
  border: 1px #DDDDDD solid;
  background: #C3D9FF;
  font-weight: bold;
  margin-bottom: 0;
  padding: 10px 0;
}

.titulo-mensajes .name, .titulo-mensajes .description, .titulo-mensajes .fecha{
  float:left;
  text-align: center;
  margin-bottom: 0;
}

.titulo-mensajes .name, .titulo-mensajes .fecha{
  width: 25%;
}

.titulo-mensajes .description{
  width: 50%;
}

.titulo-mensajes .subcategory
{
  display: none;
}

.mensaje-all{
  border: 1px #DDDDDD solid;
  border-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}

.mensaje-all .name, .mensaje-all .description, .mensaje-all .fecha{
  float:left;
  text-align: center;
  margin-bottom: 0;
}

.mensaje-all .name, .mensaje-all .fecha{
  width: 25%;
}

.mensaje-all .description{
  width: 50%;
}

.mensaje-all .category, .mensaje-all .subcategory
{
  display: none;
}

.filter li
{
  margin-left: 10px;
}

#filter-none{
  margin-top: 10px;
}

.head-filter ul
{
  margin-top: 10px;
  margin-left: 10px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#iniciativas-choose,#proyectos-choose{
  border: 1px gray solid;
  margin: 0;
  overflow-y: scroll;
  height: 137px; 
}
#iniciativas-choose li,#proyectos-choose li{
  margin:0;
  padding: 5px;
}

.selectedlist{
    background-color:#00A6FC;
}
.selectedlist a{
    color: #ffffff;
}

.selectedlist a:focus {
    color: #ffffff;
    outline: medium none;
}

.row-error{
    border: 1px red solid;
    border-right: none;
    border-left: none;
}

.row-error-first{
    border: 1px red solid;
    border-right: none;
}

.row-error-last{
    border: 1px red solid;
    border-left: none;
}

.money{
    text-align: right;
}

.nopad{
    padding: 0;
    padding-top: 10px;
    background-color: #90ee90;
}

.postulacion-note{
    font-size: 12px;
    color: gray;
    margin-top: -10px;
    margin-bottom: 0;
}